.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 353px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background-image: url(../images/spots-images/State=Default.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 1;
}

.card__delete-btn:hover {
  background-image: url(../images/State=Hover.svg);
  opacity: 1;
}

.card__like-btn {
  padding: 0;
  background-image: url(../images/spots-images/like-icon-dark.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

.card__like-btn_active {
  background-image: url(../images/spots-images/State=Liked.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 1;
}
.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
