.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px;
  position: relative;
  box-sizing: border-box;
  margin: 0 20px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.3s ease;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 16px 0 16px;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  opacity: 70%;
  line-height: 1.2;
  display: block;
}

.modal__input {
  display: block;
  margin: 0;
  border: 1px solid #21212166;
  border-radius: 8px;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.modal__input::placeholder {
  color: #b8b8b8;
  font-size: 16px;
  font-weight: 400;
}

.modal__submit-btn {
  margin-top: 16px;
  padding: 16px 24px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 156px;
  height: 52px;
  font-family: "Poppins", sans-serif;
}

.modal__submit-btn:hover {
  background-color: #000;
}
