.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:
    visibility 0s linear 0.3s,
    opacity 0.3s linear;
}

.modal_type_preview {
  padding: 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s linear 0s,
    opacity 0.3s linear;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px;
  position: relative;
  box-sizing: border-box;
  margin: 0 20px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 40px;
  height: 40px;
  background-image: url(../images/spots-images/close-gray.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.3s ease;
  padding: 0;
}

.modal__close-btn:hover {
  background-image: url(../images/spots-images/close-black.svg);
  opacity: 100%;
}

.modal__close-btn_type_preview {
  background-image: url(../images/spots-images/close-gray.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/spots-images/close-white.svg);
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  line-height: 1.2;
  display: block;
}

.modal__input {
  display: block;
  margin: 0 0 32px;
  border: 1px solid #21212166;
  border-radius: 8px;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: border 0.3s ease;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input::placeholder {
  color: #b8b8b8;
  font-size: 16px;
  font-weight: 400;
}

.modal__input:focus {
  outline: none;
  border: 1px solid #212121;
  cursor: text;
}

.modal__submit-btn {
  margin-top: 0;
  padding: 16px 24px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 156px;
  height: 52px;
  font-family: "Poppins", sans-serif;
}

.modal__submit-btn:hover {
  background-color: #000;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 8px 0 0;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__close_type_preview {
    background-image: url(../images/spots-images/close-gray.svg);
    top: 0;
    right: -52.5px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    background-image: url(../images/spots-images/close-gray.svg);
    top: -48px;
    right: 0;
  }

  .modal__close_type_preview:hover {
    background-image: url(../images/spots-images/close-white.svg);
  }

  .modal__image {
    max-width: unset;
  }
}
