.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  line-height: 1;
  font-size: 32px;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121b2;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background: transparent;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
}

.profile__edit-btn:hover {
  opacity: 0.8;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  border: none;
  background: #212121;
  color: #fff;
  padding: 18px 32px;
  width: 149px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
    border-radius: 8px;
  }

  .profile__column {
    margin-right: 0;
    margin-bottom: 32px;
    text-align: center;
    align-items: center;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__edit-btn {
    margin-top: 0;
  }

  .profile__add-btn {
    margin-left: 0;
    margin-top: 0;
    max-width: 288px;
    width: 100%;
    justify-content: center;
  }
}
